@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@import url('https://css.gg/log-in.css');



*{
    margin: 0;
    padding: 0;
}


/* Estilos para o cabeçalho */
header {
    background-color: var(--dark1);
    padding: 20px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.452);
}


img#logo-header{
    height: 60px;
    width: 60px;
    padding-bottom: 10px;
    cursor: pointer;
}
div#div-header {
    display: flex;

}
div#div-header h1 {
    margin-right: 0;
    margin-top: -15px;
    font-size: 4em;
    color: var(--cor3);
    font-family: var(--fonte-cursiva);
    transition: .3s;
    cursor: pointer;
    align-self: center;
}
#div-header h1:hover{
    text-shadow: 1px 1px 1px white;
}

div#div-header a {
    text-decoration: none;
}


.search-container{
    margin: 0px 40px 0px auto;
    height: 50px;
    align-self: center;
}
input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  /* border: 1px solid #D0CFCE; */
  border: none;
  outline: none;
  border-radius: 20px;
  }
.search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
}


div#autenticar {
    align-self: center;
    margin-top: -4px;
    padding-left: 50px;
}



.sign {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--dark3);
    color: var(--cor3);
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px;
    transition: all 0.3s;
    box-shadow: .8px .8px 3px var(--dark5);
}
.sign:hover{
    background-color: var(--cor3);
    box-shadow: 0 0 8px white;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}



/* Estilos para o menu de navegação */
header nav {
    background-color: var(--dark3);
    padding: 8px;
    margin-top: 5px;
    text-align: center;
    box-shadow: .8px .8px 3px var(--dark5);
    border-radius: 50px;
}

nav ul {
    list-style: none; /* Remover marcadores de lista */
    margin: 0;
    padding: 0;
    display: flex; /* Exibir como flex */
    justify-content: center; /* Alinhar no centro */
}



nav ul li a {
    color: var(--cor3);
    text-decoration: none;
    text-shadow: 1px 1px 3px var(--dark1);
    font-size: 1.2em;
}

/* Estilo para o link ativo */
/* header nav ul li a.active {
    color: #FFF;
    background-color: #8B0000;
    padding: 10px;
    border-radius: 10px;
    
} */
nav ul li {
    margin: 0 10px; /* Margem entre itens */
    position: relative;
}

nav ul li a:hover {
    color: var(--dark4);
    text-shadow: 1px 1px 1px var(--dark1);
    transition: .3s;
}



.sub-menu {
    display: block;
    visibility: hidden;
    position: absolute;
    max-height: 0;
    overflow: hidden; 
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-radius: 8px;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.418);
    width: 200px;
    margin-left: -10px;
}
.sub-menu li {
    display: block;
    position: relative;
    padding: 8px 0 8px 5px;
    background-color: var(--dark3);
    margin: 0;
    text-align: left;
    border-bottom: 1px solid var(--cor3);
}

.dropdown:hover .sub-menu {      
    max-height: 300px;
    visibility: visible;
    top: 100%;
    transition: all 0.4s linear;
}
.dropdown {
    display: block;
}



